#custom_main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header_image {
    margin-left: 350px;
}

.box-shadow--6dp {
    margin-bottom: 5px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}

.btn-space {
    margin-top: 20px;
}

#custom_header {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 30px;
}


#add_custom {
    margin-right: 50px;
    margin-left: 20px;
}

#custom_table {
    display: flex;
    flex-grow: 3;
}

.kund_body{
    background-color: blue;
    display: flex;
    flex-direction: row;
}
.kund_main_left{
    display: flex;
    flex-direction: column;
}
.kund_main_right{
    display: flex;
    flex-direction: column;
}

