<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Customer</title>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Vidioten</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../kunder">Kunder <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../uthyrningar">Uthyrda Filmer</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Filmer
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="@{../filmer/Alla}">All</a>
                        <a class="dropdown-item" th:href="@{../filmer/Action}">Action</a>
                        <a class="dropdown-item" th:href="@{../filmer/Horror}">Horror</a>
                        <a class="dropdown-item" th:href="@{../filmer/Drama}">Drama</a>
                        <a class="dropdown-item" th:href="@{../filmer/Crime}">Crime</a>
                        <a class="dropdown-item" th:href="@{../filmer/Biography}">Biography</a>
                        <a class="dropdown-item" th:href="@{../filmer/Comedy}">Comedy</a>
                        <a class="dropdown-item" th:href="@{../filmer/Fantasy}">Fantasy</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Sök" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sök</button>
            </form>
        </div>
    </nav>
</header>
<body>


<h1 class="text-center">Filmer</h1>

<div class="modal" id="imdbResults">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Sökresultat från imdb</h1>
            </div>
            <form method="post" th:action="@{/filmer/imdbAdd}">
                <table>
                    <th:block th:each="film : ${data}">
                        <tr th:object="${film}">
                            <td>
                            <span th:text="*{title}"></span>
                            </td>
                            <td>
                            <button name="imdbId" type="submit" class="btn btn-success btn-sm" th:value="*{imdbId}">Lägg till
                                film
                            </button>
                            </td>
                        </tr>
                    </th:block>
                </table>
            </form>
        </div>
    </div>
</div>


<button id="imdbSearch" type="button" data-target="#imdb" data-toggle="modal" class="btn btn-info btn-lg">Sök imdb
</button>

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addMovie">Skapa film
</button>

<div class="modal" id="imdb">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <form th:action="@{/filmer/imdbSearch}" method="post">
                    <input title="title" name="title" type="text" class="form-control"
                           id="imdTitle">
                    <button id="searchImdb" class="btn btn-primary" type="submit">Search</button>
                </form>
                <div class="modal-footer">
                    <button id="closeImdb" class="btn btn-primary" type="submit">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="searchResults" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Some text in the Modal..</p>
    </div>

</div>

<!-- Modal -->
<div id="addMovie" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Fyll i filmuppgifter</h4>
            </div>
            <div class="modal-body">
                <form th:action="@{/filmer/addMovie}" th:object="${filmForm}" method="post">
                    <div class="form-group">
                        <label>Titel:</label>
                        <input th:value="*{namn}" name="namn" type="text" class="form-control"
                               id="namn">
                        <span class="alert-danger alert" th:if="${#fields.hasErrors('namn')}"
                              th:errors="*{namn}"></span>
                    </div>
                    <div class="form-group">
                        <label>Beskrivning:</label>
                        <input th:value="*{beskrivning}" name="beskrivning" type="text" class="form-control"
                               id="beskrivning">
                        <span class="alert-danger alert" th:if="${#fields.hasErrors('beskrivning')}"
                              th:errors="*{beskrivning}"></span>
                    </div>
                    <div class="form-group">
                        <label>Utgivningsdatum:</label>
                        <input th:value="*{utgivningsdatum}" name="utgivningsdatum" type="date" class="form-control"
                               id="utgivningsdatum">
                    </div>
                    <div class="form-group">
                        <label>Kategori:</label>
                        <select class="form-select-button" th:value="*{kategori}" name="kategori">
                            <option value="Comedy">KOMEDI</option>
                            <option value="Action">ACTION</option>
                            <option value="Romantic">ROMANTIK</option>
                            <option value="Drama">DRAMA</option>
                            <option value="Thriller">THRILLER</option>
                            <option value="Horror">SKRÄCK</option>
                            <option value="Crime">KRIMINALARE</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Format:</label>
                        <select th:value="*{format}" name="format">
                            <option value="DVD">DVD</option>
                            <option value="VHS">VHS</option>
                            <option value="BLURAY">BLURAY</option>
                        </select>
                    </div>
                    <button value="addFilm" type="submit" class="btn btn-default">Skapa film</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <th:block th:each="film : ${filmer}">
        <div class="row box-shadow--6dp" th:object="${film}">
            <div class="col-md-3">
                <img class="img-thumbnail" alt="Bootstrap Image Preview" height="300" width="200" th:src="*{bild}">
            </div>
            <div class="col-md-3">
                <h4 th:text="*{namn}"></h4>
                <dl>
                    <dt>
                        Handling
                    </dt>
                    <dd th:text="*{beskrivning}">
                    </dd>
                </dl>
            </div>
            <div class="col-md-3">
                <dl>
                    <dt>
                        IMDB betyg
                    </dt>
                    <dd th:text="*{imdb}">
                    </dd>
                    <dt>
                        Utgivningsdatum
                    </dt>
                    <dd th:text="*{utgivningsdatum}">
                    </dd>
                    <dt>
                        Kategori
                    </dt>
                    <dd th:text="*{kategori}">
                    </dd>
                    <dt>
                        Format
                    </dt>
                    <dd th:text="*{format}">
                    </dd>
                </dl>
            </div>
            <div class="col-md-3">
            <span th:switch="*{kund}">
                <button th:case="NULL" class="btn btn-success" data-toggle="modal"
                        th:data-target="'#rentmovie' + *{produktnummer}">Rent movie</button>
                <form action="#" th:action="@{/filmer/rent/} + *{produktnummer}" method="post">
                    <div class="modal" th:id="'rentmovie' + *{produktnummer}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Fyll i Personnummer:</label>
                                        <input title="personnummer" name="personnummer" type="text" class="form-control"
                                               id="personnummer">
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-success" type="submit">Rent movie</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <span class="label label-default" th:case="*" th:text="*{kund.personnummer}"></span>
            </span>
                <div>
                </div>
                <span><a th:href="@{/filmer/byId/} + ${film.produktnummer}"
                         class="btn btn-primary btn-space">Info</a></span>
            </div>
        </div>
    </th:block>
<!--    <div class="row">
        <div class="col-md-5">

        </div>
        <div class="col-md-7">
            <nav>

                <ul class="nav nav-pills">
                    <li class="nav-item" th:if="${filmer.totalPages != null}" th:each="i : ${#numbers.sequence(0,filmer.totalPages-1)}">
                        <a th:text="${i+1}" class="page-link" th:href="${#httpServletRequest.requestURI + '?page=' + i}"></a>

                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>-->

<div class="row">
    <div class="col-sm-6">
        <div sd:pagination-summary="">info</div>
    </div>
    <div class="col-sm-6">
        <nav class="pull-right">
            <ul class="pagination" sd:pagination="full">
                <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            </ul>
        </nav>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<th:block th:if="${data != NULL}">
    <script type="text/javascript">
        $(document).ready(function () {
            $('#imdbResults').modal('show');
        });
    </script>
</th:block>

<th:block th:if="${error != NULL}">
    <script type="text/javascript">
        $(document).ready(function () {
            $('#addMovie').modal('show');
        });
    </script>
</th:block>

</body>
</html>
