<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../static/css/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Vidioten</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../kunder">Kunder <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../uthyrningar">Uthyrda Filmer</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filmer
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="@{../filmer/Alla}">All</a>
                        <a class="dropdown-item" th:href="@{../filmer/Action}">Action</a>
                        <a class="dropdown-item" th:href="@{../filmer/Horror}">Horror</a>
                        <a class="dropdown-item" th:href="@{../filmer/Drama}">Drama</a>
                        <a class="dropdown-item" th:href="@{../filmer/Adventure}">Adventure</a>
                        <a class="dropdown-item" th:href="@{../filmer/Comedy}">Comedy</a>
                        <a class="dropdown-item" th:href="@{../filmer/Fantasy}">Fantasy</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Sök" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sök</button>
            </form>
        </div>
    </nav>
</header>
<body>
<h1 class="text-center">Kunder</h1>
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#createCustomer">Skapa kund</button>
<!-- Modal -->
<div id="createCustomer" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Fyll i kunduppgifter</h4>
            </div>
            <div class="modal-body">
                <form th:object="${kundForm}" method="post">
                    <div class="form-group">
                        <label>Personnummer:</label>
                        <input th:value="*{personnummer}" name="personnummer" type="text" class="form-control"
                               id="personnummer">
                        <span class="alert-danger alert" th:if="${#fields.hasErrors('personnummer')}"
                              th:errors="*{personnummer}"></span>
                    </div>
                    <div class="form-group">
                        <label>Namn:</label>
                        <input th:value="*{namn}" name="namn" type="text" class="form-control" id="namn">
                        <span class="alert-danger alert" th:if="${#fields.hasErrors('namn')}"
                              th:errors="*{namn}"></span>
                    </div>
                    <div class="form-group">
                        <label>Address:</label>
                        <input th:value="*{address}" name="address" type="text" class="form-control" id="address">
                        <span class="alert-danger alert" th:if="${#fields.hasErrors('address')}"
                              th:errors="*{address}"></span>
                    </div>
                    <div class="form-group">
                        <label>Telefonnummer:</label>
                        <input th:value="*{telefonnummer}" name="telefonnummer" type="number" class="form-control"
                               id="telefonnummer">
                        <span class="alert-danger alert" th:if="${#fields.hasErrors('telefonnummer')}"
                              th:errors="*{telefonnummer}"></span>
                    </div>
                    <div class="form-group">
                        <label>Epost:</label>
                        <input th:value="*{epost}" name="epost" type="email" class="form-control" id="epost">
                        <span class="alert-danger alert" th:if="${#fields.hasErrors('epost')}"
                              th:errors="*{epost}"></span>
                    </div>
                    <div class="form-group">
                        <label>Postnummer:</label>
                        <input th:value="*{postnummer}" name="postnummer" type="text" class="form-control"
                               id="postnummer">
                        <span class="alert-danger alert" th:if="${#fields.hasErrors('postnummer')}"
                              th:errors="*{postnummer}"></span>
                    </div>
                    <div class="form-group">
                        <label>Stad:</label>
                        <input th:value="*{stad}" name="stad" type="text" class="form-control" id="stad">
                        <span class="alert-danger alert" th:if="${#fields.hasErrors('stad')}"
                              th:errors="*{stad}"></span>
                    </div>
                    <div class="form-group">
                        <label>Land:</label>
                        <input th:value="*{land}" name="land" type="text" class="form-control" id="land">
                        <span class="alert-danger alert" th:if="${#fields.hasErrors('land')}"
                              th:errors="*{land}"></span>
                    </div>
                    <button value="addKund" type="submit" class="btn btn-default">Skapa kund</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</form>


    <div id="custom_main">
        <div id="add_custom">
        </div>
        <div id="custom_table">
            <table class="table table-hover">
                <tr>
                    <th>Personnumer</th>
                    <th>Namn</th>
                    <th>Telefonnummer</th>
                    <th>Filmer</th>
                </tr>
                <th:block th:each="kund : ${kunder}">
                    <tr class="clickable" th:object="${kund}">
                        <td th:text="*{personnummer}"></td>
                        <td th:text="*{namn}"></td>
                        <td th:text="*{telefonnummer}"></td>
                        <td th:text="*{filmer.size()}"></td>
                        <td><a th:href="@{/kunder/byId/} + ${kund.personnummer}" class="btn btn-primary">Info</a></td>
                    </tr>
                </th:block>
            </table>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
<th:block th:if="${error != NULL}">
    <script type="text/javascript">
        $(document).ready(function () {
            $('#createCustomer').modal('show');
        });
    </script>
</th:block>

</body>
<footer class="footer">
    <div class="container">
        <nav class="navbar fixed-bottom navbar-light bg-light">
            <a class="navbar-brand" href="#">&copy; Vidioten</a>
        </nav>
    </div>
</footer>
</html>