
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Customer</title>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Vidioten</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../kunder">Kunder <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../uthyrningar">Uthyrda Filmer</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filmer
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="@{../filmer/Alla}">All</a>
                        <a class="dropdown-item" th:href="@{../filmer/Action}">Action</a>
                        <a class="dropdown-item" th:href="@{../filmer/Horror}">Horror</a>
                        <a class="dropdown-item" th:href="@{../filmer/Drama}">Drama</a>
                        <a class="dropdown-item" th:href="@{../filmer/Adventure}">Adventure</a>
                        <a class="dropdown-item" th:href="@{../filmer/Comedy}">Comedy</a>
                        <a class="dropdown-item" th:href="@{../filmer/Fantasy}">Fantasy</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Sök" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sök</button>
            </form>
        </div>
    </nav>
</header>
<!--<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../static/css/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>-->
<body>
<form method="get">
<select name="alternativ">
    <option value="Alla">Alla</option>
    <option value="Uthyrda">Uthyrda</option>
    <option value="Försenade">Försenade</option>
    <option value="Gammla">Gammla uthyrningar</option>
</select>
    <input type="submit" value="Sök"/>
</form>

<h1 class="text-center">Uthyrningar</h1>

<div id="custom_main">
    <div id="add_custom">
    </div>
    <div id="custom_table">
        <table class="table table-hover">
            <tr>
                <th>UthyrningsId</th>
                <th>Film</th>
                <th>Kund</th>
                <th>Telefonnummer</th>
                <th>Uthyrningsdatum</th>
                <th>Förväntat inlämningsdatum</th>
                <th>inlämningsdatum</th>
            </tr>
            <th:block th:each="uthyrning : ${uthyrningar}">
                <tr class="clickable" th:object="${uthyrning}" th:style="${uthyrning.checkIfLate()} ? 'color: red' : ' color: green'">
                    <td th:text="*{uthyrningsID}"></td>
                    <td th:text="*{film.namn}"></td>
                    <td th:text="*{kund.namn}"></td>
                    <td th:text="*{kund.telefonnummer}"></td>
                    <td th:text="*{uthyrningsdatum}"></td>
                    <td th:text="*{senasteInlamning}"></td>
                    <td th:text="*{inlamningsdatum}"></td>
                </tr>
            </th:block>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
